%section.page1
  .huge-title
    .logo-phone.centered
      = image_tag 'logo.png', alt: 'GuessIt!'
    %h2= t('header.title')
  .go-down
    %p= t('header.find_more')
    = image_tag 'theme/go-down.png', alt: t('header.go_down')
