%section.page1
  .huge-title
    .logo-phone.centered
      = image_tag 'logo.png', alt: 'GuessIt!'
    %h2 Have you already guessed something today?
  .go-down
    %p Find more
    = image_tag 'theme/go-down.png', alt: 'Go Down'
