%section.cbp-so-section.page3
  .row
    .twelve.columns.article.centered.make-it-appear-top
      %h3 Connect your favorite Devices together
      %p 
        Bacon ipsum dolor sit amet meatball shank pork chop capicola fatback pork loin sirloin flank. 
        %b Andouille
        tongue corned beef rump pork loin shank meatball capicola turducken venison shankle kevin pancetta tri-tip boudin.
      .space
        = link_to "Here's a simple link", '#', class: :'border-button'

    .twelve.columns.slider-mac
      #dragit
        = image_tag 'theme/drag-it.png', alt: 'Drag it'

      #template-2.owl-carousel
        .item
          = image_tag 'theme/slider1.png', alt: 'Example #1'
        .item
          = image_tag 'theme/slider2.png', alt: 'Example #2'
