%section.cbp-so-section.page4
  .row
    .six.columns.make-it-appear-left
      .space
      %h4 It always look better with Apple Products, Don't you?
      %p Bacon ipsum dolor sit amet meatball shank pork chop capicola fatback pork loin sirloin flank. tongue corned beef rump pork loin shank meatball capicola turducken venison shankle kevin pancetta tri-tip boudin.
      .space
      = image_tag 'theme/ipad.png', alt: 'Example'

    .six.columns.make-it-appear-right
      = image_tag 'theme/ipad.png', alt: 'Example'
      .space
      %h4 Play with Columns and Section
      %p Bacon ipsum dolor sit amet meatball shank pork chop capicola fatback pork loin sirloin flank. tongue corned beef rump pork loin venison shankle kevin pancetta tri-tip boudin.
      %p= link_to 'An example of a simple link', '#'
