#testimonial
  .row
    #slider1.four.columns.testblock.flexslider.make-it-appear-left
      %ul.slides
        - @games.each do |game|
          %li
            = image_tag game[:image]
    #slider2.eight.columns.flexslider.make-it-appear-right
      %ul.slides
        - @games.each do |game|
          %li
            %h5.title= game[:title]
            .sub= game[:sub]
            .textblock
              %p= game[:description]
