// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  section {
    &.page1 {
    }
  }
  .first-column {
    margin-left: 0;
  }

  .cbp-af-header {
    #logo {
      img {
        padding-top: 25px;
      }
    }
  }

  ul.brand {
    li {
      img {
        &.unavailable {
          opacity: 0.2;
        }
      }
    }
  }

  .sub {
    margin-top: 0;
    margin-bottom: 5px;
  }

  #slider2 {
    p {
      padding-right: 30px;
    }
  }
}
